:root {
   --dark-color: #333;
   --light-color: #f4f4f4;
   --primary-color: rgb(99, 0, 145);
   --border-color: rgba(0,0,0,0.2);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: var(--dark-color);
   padding-top: 3rem;
   font-size: 1.6rem;
}

ul {
   list-style: none;
}

a {
   
   text-decoration: none;
}